# Local clock. Note that is not the "localhost" address!
server 127.127.1.0
fudge  127.127.1.0 stratum 10

# Where to retrieve the time from
server   pdc-server.rthomaz.local      iburst prefer
# server bdc-server.rthomaz.local      iburst

{% for i in ntp_servers%}
server   {{ i.cname }}      iburst {%if (i.prefer == true) 'ok' else 'cancel'%}
{% endfor %}

driftfile /var/lib/ntp/ntp.drift
logfile   /var/log/ntp

# Access control
# Default restriction: Disallow everything
restrict default ignore

# No restrictions for "localhost"
restrict 127.0.0.1

# Enable the time sources only to only provide time to this host
{% for i in ntp_servers%}
restrict   {{ i.cname }}   mask 255.255.255.255    nomodify notrap nopeer noquery
{% endfor %}
