#!/bin/bash

# {{ workgroup_name }} Rules

# disable firewall
ufw disable

# reset all firewall rules
ufw reset --force

# enable logging
ufw logging on

# set default rules: deny all incoming traffic, allow all outgoing traffic
ufw default deny incoming
ufw default allow outgoing

# -------------------------------------
#  My rules

# open ports for DNS
ufw allow from 192.168.1.0/24 to any port 53

# open ports for SSH
ufw allow from 192.168.1.0/24 to any port 22 proto tcp

# -------------------------------------
#  re-start

# enable firewall
ufw enable

# list all firewall rules
ufw status verbose
