Port 22
ListenAddress {{network_interfaces_address}}
Protocol 2
LoginGraceTime 2m
PermitRootLogin without-password
StrictModes yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem       sftp    /usr/lib/openssh/sftp-server
