options {

        auth-nxdomain yes;
        directory "/var/cache/bind";
        notify no;
        empty-zones-enable no;

        tkey-gssapi-keytab "/var/lib/samba/private/dns.keytab";
        
        # IP addresses and network ranges allowed to query the DNS server:
        allow-query {
            127.0.0.1;
            {{interface_network_prefix}};
        };

        # IP addresses and network ranges allowed to run recursive queries:
        # (Zones not served by this DNS server)
        allow-recursion {
            127.0.0.1;
            {{interface_network_prefix}};
        };

        # Forward queries that can not be answered from own zones
        # to these DNS servers:
        forwarders {            
            {% for dns in interface_dns_nameservers %}
            {{dns}};
            {% endfor %}
        };

        # Disable zone transfers
        allow-transfer {
            none;
        };
};