
deb [trusted=yes] {{apt_mirror_default_url}} {{ debian_codename }} main contrib non-free
deb-src [trusted=yes] {{apt_mirror_default_url}} {{ debian_codename }} main contrib non-free

deb [trusted=yes] {{apt_mirror_security_url}} {{ debian_codename }}/updates main contrib non-free
deb-src [trusted=yes] {{apt_mirror_security_url}} {{ debian_codename }}/updates main contrib non-free

# {{ debian_codename }}-updates, previously known as 'volatile'
deb [trusted=yes] {{apt_mirror_update_url}} {{ debian_codename }}-updates main contrib non-free
deb-src [trusted=yes] {{apt_mirror_update_url}} {{ debian_codename }}-updates main contrib non-free

# debian-backports
deb [trusted=yes] {{apt_mirror_backports_url}} {{ debian_codename }}-backports main contrib non-free
